// Resetowanie marginesów i paddingów
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 900

.rubik-cube {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}


// Ustawienia domyślne dla body
body {
  font-family: $font-primary; // Zmienna zdefiniowana w pliku variables.scss
  font-size: $font-size-base; // Zmienna zdefiniowana w pliku variables.scss
  line-height: 1.6;
  color: $color-koalicja-brown; // Zmienna zdefiniowana w pliku variables.scss
  background-color: $color-light; // Zmienna zdefiniowana w pliku variables.scss
}

.sr-only {
    display: none;
}

// Ustawienia dla linków
a {
  color: $link-color; // Zmienna zdefiniowana w pliku variables.scss
  text-decoration: $link-decoration; // Zmienna zdefiniowana w pliku variables.scss

  &:hover {
    color: $link-hover-color; // Zmienna zdefiniowana w pliku variables.scss
    text-decoration: $link-hover-decoration; // Zmienna zdefiniowana w pliku variables.scss
  }
}

// Obrazy
img {
  max-width: 100%;
  height: auto;
}

// Listy
ul,
ol {
  padding-left: 20px;
}

// Nagłówki
h1, h2, h3, h4, h5, h6 {
  margin-bottom: $margin-base; // Zmienna zdefiniowana w pliku variables.scss
  font-weight: $font-weight-bold; // Zmienna zdefiniowana w pliku variables.scss
}

// Paragrafy
p {
  margin-bottom: $margin-base; // Zmienna zdefiniowana w pliku variables.scss
}
