.nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5; // Tło dla kontenera menu
  width: 100%;

  .nav {
    width: 100%;
    display: none; // Ukryj menu na małych ekranach
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    list-style: none;
    background-color: #333; // Tło dla menu
    margin: 0;

    .nav-item {
      width: 100%;
      text-align: center;
      margin: 0.5rem 0;
      a {
        display: block;
        padding: 10px 0;
        color: #fff; // Kolor tekstu w linku
        text-decoration: none;
        &:hover {
          background-color: #555; // Tło linku po najechaniu
        }
      }

      &.active a {
        background-color: #007bff; // Tło aktywnego linku
      }
    }
  }

  .hamburger {
    display: flex; // Pokaż przycisk hamburger na małych ekranach
    cursor: pointer;
    padding: 10px;
    background-color: #333; // Tło dla przycisku hamburger
    color: #fff; // Kolor ikony hamburger
    border: none;
    margin: 10px 0;

    &:hover {
      background-color: #555;
    }
  }

  @media (min-width: 768px) {
    .nav {
      flex-direction: row;
      justify-content: center;
      display: flex; // Pokaż menu na większych ekranach
    }

    .hamburger {
      display: none; // Ukryj przycisk hamburger na większych ekranach
    }
  }
}