// FRONT PAGE

.section-name {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  margin-top: $margin-container;
}

.section-next {
  @include button-orange;
  margin: 0 auto;
  display: block;
  margin-bottom: $margin-container;
}

.news-container {
  grid-template-columns: 1fr;
  gap: 50px;
  margin-top: $margin-large;
  margin-bottom: $margin-large;

  @include respond-to(md) {
    grid-template-columns: 1fr 1fr;
  }

  @include respond-to(lg) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.news-item {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 35px;
    padding: 35px;
    background-blend-mode: overlay;
    transition: transform ease 500ms;

    &:hover {
      transform: scale(105%);
    }

    @include respond-to(md) {
      width: 300px;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: inherit;
        background-position: center;
        margin: -10px;
        z-index: 1;
        background-color: #08805c;
        opacity: 0.9;
        
    }
  
    .news-title {
      color: #fff;
      text-align: center;
      width: 100%;
      z-index: 1;

      h3 {
        font-size: calc(1vw + 1vh + 1vmin); // Dynamiczne dostosowanie rozmiaru fontu
        z-index: 2;
        margin: 0;

        @include respond-to(md) {
          font-size: calc(0.6vw + 0.6vh + 1vmin);
        }

        @include respond-to(lg) {
          font-size: calc(0.4vw + 0.4vh + 1vmin);
        }
      }
    }
  }

  //publikacje
  .full-color {
    width: 100%;
    height: 100%;
    background-color: lighten($color-koalicja-orange, 25%);
    padding: 1px;
  }

  .publikacje-front {
    grid-template-columns: 1fr;
    position: relative;
  }

  .publikacje-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 25px;
    gap: 50px;
    width: 100%;
    margin-top: $margin-large;
    margin-bottom: $margin-large;
    @include respond-to(lg) {
      justify-content: space-between;
    }
  }

  .publikacja {
    display: flex;
    flex-flow: column;
    align-items: center;

    .publikacja-link {
      width: 100%;

      img {
        max-width: 100%;
        display: block;
        box-shadow: 0 0 15px hsla(0, 0%, 0%, 0.178);
        height: 300px;
        object-fit: cover;
        transition: transform ease 300ms;
  
        &:hover {
          transform: scale(105%);
        }
      }
    }
   
    .publikacja-pdf { 
      @include button-orange;
      display: block;
    }
  }

//organizacje front
.full-color.white {
  background-color: white;
}

.organizacje-czlonkowskie {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: $margin-container;

  @include respond-to(md) {
    grid-template-columns: repeat(3,1fr);
  }

  @include respond-to(lg) {
    grid-template-columns: repeat(5,1fr);
  }

  .org-logo {
    text-align: center;
    img {
      filter: saturate(0);
      transition: all 300ms ease;
      height: 50px;
      max-width: 100%;
      object-fit: contain;

      &:hover {
        filter: saturate(100%);
        transform: scale(110%);
      }
    }
  }
}

//footer
.footer {
  background-color: #40322E; // Kolor tła
  color: #FFFFFF; // Kolor tekstu
  padding: 20px;
  padding-top: $margin-container;
  
  .footer-content {
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      width: 100%;

      @include respond-to(sm) {
        flex-flow: row;
        align-items: flex-start;
      }
  }
  
  .footer-column {
      flex: 1;
      width: 100%;

      .contact-menu {
        svg {
          path {
            stroke: white;
          }
        }
      }
      
      .footer-title {
          font-size: 1.5rem;
          margin-bottom: 10px;
          font-weight: bold;
      }
      
      .footer-list {
          list-style: none;
          padding: 0;
          
          li {
              margin-bottom: 5px;
              
              a {
                  color: #FFFFFF;
                  text-decoration: none;
                  
                  &:hover {
                      text-decoration: underline;
                  }
              }
          }
      }
  }
  
  .footer-logo {
      text-align: center;
      
      img {
          max-width: 100px;
          margin-bottom: 10px;
      }
      
      p {
          margin-top: 10px;
          font-size: 0.8rem;
      }
  }
}

//index (aktualnosci)
.news-wrapper {
  display: flex;
  flex-flow: column;
  margin-top: $margin-container;
  gap: 100px;

  .news {
    display: flex;
    flex-flow: column;
    gap: 50px;
    background-color: $color-koalicja-orange;
    border-radius: 25px;

    @include respond-to(md) {
      flex-flow: row;
    }

    .post-thumbnail { 
      flex: 3 5;
      height: auto;

      img {
        border-radius: 25px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .news-text {
      display: flex;
      flex-flow: column;
      justify-content: center;
      padding: 20px;
      flex: 3 5;
    }
    
    header {
      h2 {
        font-size: 1.1rem;
        text-transform: uppercase;
        a {
          color: $color-koalicja-brown;
        }
      }
      time {
        color: white;
      }
    }
    .entry-summary {
      .read-more {
        display: block;
        @include button-white;
      }
    }

  }
}

//single page
.single-container {
  display: flex;
  max-width: 960px;

  header {
    h1 {
      text-transform: uppercase;
      font-size: 1.3rem;
      font-weight: 900;

      @include respond-to(md) {
        font-size: 2.5rem;
      }
    }

    .post-categories {
      a {
        display: inline-block;
        @include button-orange;
        padding: 10px;
      }
      
    }
  }
}

.post-featured {
  height: 350px;
  position: relative;

  img {
    
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    
  }
}

//publikacje
.publikacje-container {
  display: flex;
  flex-flow: column;
}

#publikacje {
  p {

    text-align: center;
    width: 100%;
  }
    #search {
      font-size: 1.6rem;
      width: 100%;
      padding: 25px;
      border: 2px solid $color-koalicja-orange;
      border-radius: 50px;
    }
    .publikacje-categories {
      margin-bottom: $margin-base;
      padding: 25px;
      input[type="checkbox"] {
        visibility: hidden;
        display: none;
      }
      label {
        display: inline-block;
        @include button-orange;
        color: white;
        padding: 10px;
        background-color: $color-koalicja-brown;
        cursor: pointer;
      }

      input[type="checkbox"]:checked + label {
        background: $color-koalicja-orange; // Change to your desired background color
      }
    }
}

#publikacje-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  transition: all ease 300ms;

  @include respond-to(md) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include respond-to(lg) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .publikacja {
    transition: all ease 300ms;
    width: 100%;

      img {
        max-width: 100%;
        display: block;
        box-shadow: 0 0 15px hsla(0, 0%, 0%, 0.178);
        height: 200px;
        object-fit: cover;
        transition: transform ease 300ms;

        @include respond-to(md) {
          height: 300px;
        }
  
        &:hover {
          transform: scale(105%);
        }
      }

      .publikacja-button {
        display: block;
        @include button-orange;
      }

    h2 {
      visibility: hidden;
      display: none;
    }
  }
  
}

//single publikacja

.single-publikacja-container {
  header {
    display: flex;
    gap: 30px;

    .publication-cover {
      flex: 1 3;
    }

    .publikacja-single-text {
      flex: 2 3;
      h1 {
        line-height: 3rem;
      }
      .publication-pdf {
        a {
          display: block;
          @include button-orange;
        }
      }
    }
  }
}

//O nas

.about-container {
  display: flex;
  flex-flow: column;

  .section-name {
    margin-top: 0;
  }

  .struktura {
    margin-top: $margin-container;
  }
}

.manifest {
  padding-top: $margin-container;
  padding-bottom: $margin-container;
}